<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simulaattorikilpailut.fi</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <meta name="author" content="Teemu Pölkki">
  <link rel="icon" type="image/x-icon" href="./favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400&amp;display=swap" rel="stylesheet">
  <meta property="og:title" content="Simulaattorikilpailut" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.simulaattorikilpailut.fi/" />
  <meta property="og:image" content="https://www.simulaattorikilpailut.fi/img/simulaattorikilpailut.png" />

  <link rel="stylesheet" href="style.css">
  <script defer data-domain="simulaattorikilpailut.fi" src="https://newkyng.asuscomm.com/js/plausible.js"></script>

</head>

<body>
  <div id="container">
    <div id="bg"></div>
    <h1 id="heading">Tulevat kilpailut</h1>
    <div class="filters">
      <div class="legendcontainer">

        <dl class="org-legend" onclick="toggleClass(this, 'hl'); return filter()" id="ACC" name="simulator"
          data-sim="ACC">
          <dt class="acc"></dt>
          <dd>ACC</dd>
        </dl>
        <dl class="org-legend" onclick="toggleClass(this, 'hl'); return filter()" id="AC" name="simulator"
          data-sim="AC">
          <dt class="ac"></dt>
          <dd>AC</dd>
        </dl>
        <dl class="org-legend" onclick="toggleClass(this, 'hl'); return filter()" id="iRacing" name="simulator"
          data-sim="iRacing">
          <dt class="iracing"></dt>
          <dd>iRacing</dd>
        </dl>
        <dl class="org-legend" onclick="toggleClass(this, 'hl'); return filter()" id="Automobilista2"
          data-sim="Automobilista 2" value="Automobilista 2">
          <dt class="automobilista"></dt>
          <dd>Automobilista 2</dd>
        </dl>
        <dl class="org-legend" onclick="toggleClass(this, 'hl'); return filter()" id="DR2" name="simulator"
          data-sim="DiRT Rally 2.0">
          <dt class="dirtrally"></dt>
          <dd>DiRT Rally 2.0</dd>
        </dl>
        <dl class="org-legend" onclick="toggleClass(this, 'hl'); return filter()" id="GranTurismo7"
          data-sim="Gran Turismo 7" value="Gran Turismo 7">
          <dt class="granturismo"></dt>
          <dd>Gran Turismo 7</dd>
        </dl>

      </div>
    </div>


    <div id="cal-container">
      <table>
        <thead>
          <tr>
            <th id="date">Päivä</th>
            <th id="organizer">Järjestäjä</th>
            <th id="event">Kisa</th>
            <th id="time">Aika</th>
            <th id="platform">Alusta</th>
            <th id="desc">Kuvaus</th>
          </tr>
        </thead>
        <tbody id="dynamic-data">

        </tbody>
      </table>
    </div>
    <footer>
      <p>© Teemu Pölkki 2022. Jos haluat sarjasi kilpailut listaan, ota yhteyttä <a
          href="mailto:teemu.polkki@proton.me">teemu.polkki@proton.me</a><br> Sivuston
        taustalla oleva Google Kalenterin voit <a
          href="https://calendar.google.com/calendar/u/0?cid=YjFmODExMWIxMTEzY2VjOGE2M2I1ZjhhYTVjNWJmMGZlNzBmODdlOTY3NDBmYzY5NDUwZDBkOTg4NTAwZDFmN0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t">lisätä
          omaan tiliisi täältä.</a>. Julkinen selaimessa avautuva versio on<a
          href="https://calendar.google.com/calendar/embed?src=904d33b78d329e6c8449a0f1d14568bbf29ad48f4b8be1215421423ddf93be7b%40group.calendar.google.com&ctz=Europe%2FHelsinki">
          saatavilla täällä</a>
        <br>
        <a href="https://github.com/TemeASD/simulaattorikilpailut">Lähdekoodit:
          https://github.com/TemeASD/simulaattorikilpailut</a>
        <br>
        Sivusto on aktiivisessa kehityksessä, ja tällä hetkellä pre-alpha vaiheessa.
      </p>
      <figure class="figure">
        <img class="img" src="more_grip.png">
      </figure>
    </footer>
  </div>
  <script src="script.js"></script>
</body>

</html>